p, h3, h2,h5 {
    cursor: default;
}
.navigator {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--color-light-white);
}

.navigator > p {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    font-size:var(--font-regular);
    font-weight: var(--weight-bold);
} 

.navigator > p > button {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    padding: 10px 20px;
}

.navigator > p > button:hover {
    font-weight: var(--weight-extrabold);
    text-decoration: underline;
}

.title {
    width: 100%;
    text-align: center;
    margin: 80px auto 120px auto;
}

section {margin: 180px auto;}

.section-title {
    width: 100%;
    text-align: center;
    margin: 60px auto;
}

.best-seller-list {
    width: 1200px;
    /* height: 1000px; */
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 0 auto;
}

.best-seller-list > li.best-items {
    width: 280px;
    margin-bottom: 100px;
    transition: all var(--animation-duration);
}

.onhover {
    transform: scale(1.02);
    box-shadow: 0px 0px 5px rgba(141, 141, 141, 0.2);
}

.itemRank {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 10px;
}

.best-items span {
    font-size: var(--font-extrasmall);
}


.imgBox {
    width: 100%;
}

.imgBox img{
    width: 100%;
}

.best__bottom {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item-descs {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.color-wrap {
    width: 100%;
    height: 80px;
    padding: 5px;
    text-align: center;
}

/* 전체 제품 이름, 가격 폰트 set */
.color-wrap h5 {
    font-size: var(--font-extrasmall); 
    padding: 6px 0;
}

.color-wrap p {
    font-size: var(--font-micro);
    color: var(--color-light-black)
}
.item-descs p{ 
    font-size: var(--font-regular); 
    font-weight: var(--weight-heavy);
    padding: 6px 0 0 0;
}
.item-descs p:nth-child(2) {
    font-size: var(--font-small);
}
.item-descs p:nth-child(2) span {
    font-weight: var(--weight-light);
}

.sale__price {
    font-size: var(--font-micro);
}

.sale__price > span:nth-child(1) {
    text-decoration: line-through;
    color: var(--color-gray);
}

.sale__price > b {
    color:red;
}

/* 컬러 non-slide 크기 */
.swatches {
    width:100%;
    height: 18px;
}

/* 글로우 플레이 립 밤 */
.glow_color {display: flex; width: 100%; height: 15px;}
.color_name0{color: #F83313;}
.glow_color div {
    width: 20%;
    height: 100%;
    cursor: pointer;
    transition: all var(--animation-duration);
}
.glow_color div:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

/* ------------best-seller banner section */
.best__seller__banner {
    width: 100%; height: 413px;
    background: url("../imgs/bestseller/bestBanner.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    cursor: default;
}

.best_banner_desc a {
    display: block;
    margin: 10px 0;
    padding: 5px;
    text-decoration: underline;
}