#skip {font-size:0; line-height:0; overflow:hidden}
#skip a {
  display:block;
  width:100%;
  padding:10px 0;
  color:#fff;
  position:absolute; left:0; top:-100px; 
  text-align:center; z-index:200; 
  background:#413022; border: none;
}

#skip a:focus,
#skip a:hover,
#skip a:active {
  top:0; font-weight:bold;
  font-size:16px;
  line-height:1.5; 
  border-bottom:1px solid #fff;
}

.header-wrap {
  width: 100%;
}

header {
  width: 100%;
  height: 80px;
  background: var(--color-black);
}

.header-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announce {
  display: flex;
  align-items: center;
  line-height: 24px;
  height: 24px;
}

.announce > p {
  margin-top: -6px;
  margin-left: 12px;
}

.announce > p > a {
  font-size: 13px;
  color: var(--color-dark-white);
  line-height: 24px;
}

h1 {
  margin-left: -100px;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  width: 170px;
  position: relative;
}

.header__icons>li {
  width: 30px;
  height: 30px;
}

.header__icons>li>a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__icons>li>a>img {
  vertical-align: middle;
  margin: 0 5px;
}

/* ----------------------search icon animation */
.search__box {
  position: absolute;
  top: -5px;
  right: 140px;
  height: 34px;
  border-radius: 25px;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
}

.search__txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  color: #fff;
  transition: 0.4s;
  width: 0;
  line-height: 20px;
  width: 0px;
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  float: right;
  font-size: 25px;
  border-radius: 50%;
}

input[type="search"]::placeholder {
  font-size: 16px;
  color: var(--color-dark-white);
}

.search__box:hover {
  background: var(--color-dark-black);
  border: 1px solid var(--color-dark-white);
}

.search__box:hover .search__txt {
  width: 200px;
  border-radius: 25px;
  padding: 2px 8px;
  background: var(--color-dark-black);
}

.search__box:hover > .search__btn {
  transition: all var(--animation-duration);
}

/* ------------------------------login hover pop up  */
.login-hover, .cart-hover{
  position: absolute;
  z-index: 30;
  top: 35px;
  background:var(--color-white);
  width: 300px;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: none;
}

.login-hover {
  right:0px;
}

.cart-hover {
  right:45px;
}

.login-hover::before, .cart-hover::before {
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color:var(--color-white);
	right: 8px;
	top:-16px;
}

.login-hover > p, 
.cart-hover > p  {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-weight: var(--weight-bold);
  border-bottom: 1px solid var(--color-light-white);
}
.login-hover > p > a {
  float: right;
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  color: var(--color-light-black);
  text-decoration: underline;
}

input[type="email"], input[type="password"], #login-btn {
  width: 260px;
  height: 35px;
  padding: 6px;
  border: 1px solid var(--color-dark-white);
  margin: 8px 0;
}

#login-btn {
  background-color: var(--color-dark-black);
  color: var(--color-white);
  padding-bottom: 14px;
}

input[type="email"]::placeholder, input[type="password"]::placeholder{
  color: var(--color-dark-white);
  font-size: var(--font-micro);
}
input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 8px;
}

.check-id {
  display: flex;
  align-items: center;
}

.rememberId > span {
  font-size: var(--font-micro);
  color: var(--color-dark-white);
}
/* -------------------------------------cart hover pop up  */
.cart-hover {
  width: 400px;
  height: 700px;
}

.cart-hover > p > span {
  font-size: var(--font-micro);
  color: var(--color-light-black);
  font-weight: var(--weight-light);
  margin-left: 10px;
}

.cart-item {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid var(--color-light-white);
}

.cart-item > img { width: 85px; float: left;}

.item-desc {
  width: 76%;
  float: right;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.item-desc > p {
  /* product name in cart */
  width: 76%;
  font-size: var(--font-extrasmall);
  margin-bottom: 8px;
}

.cart-item > .item-price {
/* product price */
width: 76%;
margin-top: 35px;
float: right;
display: flex;
justify-content: space-between;
font-size: var(--font-extrasmall);
}

.cart-item > .item-price > span {
  font-weight: var(--weight-bold);
}

.cart-item-color {
  color: #FE2F15;
  font-size: 10px;
  font-weight: var(--weight-thin);
}

.pop-cart-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0 20px;
}

.pop-cart-bottom > p {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: var(--font-regular);
  font-weight: var(--weight-extrabold);
}

.pop-cart-bottom > a {
  display: block;
  width: 100%;
  height: 40px;
  font-size: var(--font-thin);
  text-align: center;
  line-height: 40px;
}

.pop-cart-bottom > a:nth-child(2) {
  color: var(--color-white);
  background: var(--color-dark-black);
}

.pop-cart-ad {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop-cart-ad > p {
  width: 70%;
  font-size: var(--font-micro);
  color: var(--color-gray);
}

/* --------------------------------------navbar */
#navbar {
  position: relative;
  z-index: 29;
  width: 100%;
  height: 50px;
  background: var(--color-black);
}

.nav__menu {
  width: 900px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  
}

.nav__menu>li {
  position: relative;
}

.nav__menu>li>a {
  padding: 10px;
  color: var(--color-white);
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
}

.nav__menu>li>a>span {
  font-weight: var(--weight-bold);
}

.nav__menu>li>a::after{
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 1px solid var(--color-white);
  transition: all var(--animation-duration) ease-out;
}

.nav__menu>li>a:hover::after {
  width: 100%;
}

/* ----------------------------------- submenu */
.skin-sub-wrap, .makeup-sub-wrap {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 30;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  box-shadow: 0 0 1.5px rgba(0,0,0,0.3);
  display: none;
}

.sub__menu {
  width: 1200px;
  height: 85%;
  margin: 28px 360px;
  padding: 10px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
}

.sub__menu > div:nth-child(n+2) {
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.sub__menu > div:first-child {
  flex: 2;
  -ms-flex: 2;
  margin-right: 100px;
}
.sub__ad__wrap {
  margin-top: 15px;
  width: 350px;
  height: 270px;
  text-align: center;
}
.sub__ad__wrap > a {display: block; width: 100%; height: 100%;}

.sub__ad__wrap > a > .ad__img {
  width: 100%;
  height: 190px;
}

.ad__prep {
  background: url("../imgs/sub_prep+prime.jpg") center/cover no-repeat;
}

.ad__tryon {
  background: url("../imgs/sub_try_on.jpg") center/cover no-repeat;
}

.sub__ad__wrap > a > h5 {
  width: 100%;
  margin: 8px auto;
  cursor: default;
}

.sub__ad__wrap > a > h5 > span {
  font-weight: var(--weight-black);
  font-size: var(--font-medium);
  margin-left: 8px;
}

.sub__list > li {
  margin: 8px 0;
}

.sub__list_title {
  font-size: var(--font-small) ;
  font-weight: 600;
  cursor: default;
  text-align: left;
}

.sub__list > li:last-child {
  margin-top: 34px;
}

.sub__list > li:last-child a {
  border-bottom: 1px solid var(--color-light-black);
}

.sub__list > li > a {
  font-size: var(--font-small);
  font-weight: var(--weight-light);
  color: var(--color-light-black);
  padding: 2px 4px;
  transition: all var(--animation-duration);
}

.sub__list > li > a:hover {
  text-decoration: underline;
}

.sub__list > li > a:last-child {
  font-size: var(--font-micro);
}

/* ----------------------------------- body */
.swiper-container {
  width: 1440px;
  min-width: 1200px;
  max-height: 650px;
  overflow: hidden;
  margin: 0 auto;
}
.swiper-slide > a > img {
  width: 100%;
}

.slider-btn {
  color: var(--color-dark-black);
}

.swiper-pagination-bullet {
  background-color: var(--color-black);
}

.swiper-pagination-bullet-active {
  width: 23px;
  height: 8px;
  border-radius: 26px;
}

/* -------------------------main-new-collciont */
.main-new-collection, tab-menu-container {
  position: relative;
  background-color: #fff;
  margin: 150px auto;
}

.new-slide-container {
  overflow: hidden;
  width: 1200px;
  height: 500px;
}
.new-slide-container> h6 {
  font-weight: var(--weight-black);
}

.new-slide-container> h6 > span {
  font-weight: var(--weight-regular);
}

.new-collection-imgs {
  width: 2300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.new-collection-imgs > li {
  width: 350px;
  height: 100%;
}

.new-collection-imgs > li:first-child {
  margin-left: 1.8%;
}

.new-collection-imgs > li > a > img {
  width: 100%;
}
.collection-desc {
  position: relative;
  /* click me를 위한 포지션 */
  height: 80px;
  text-align: center;
  font-size: var(--font-small);
}

.collection-desc > h4 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin: 5px auto;
}

.collection-desc > p {
  width: 100%;
  height: 50px;
  font-size: var(--font-extrasmall);
}

.collection-desc > a {
  font-size: var(--font-extrasmall);
  color: var(--color-light-black);
  text-decoration: underline;
}

.main-new-collction-btn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  background: none;
}

.main-new-collction-btn > button > i {
  font-size: 50px;
  color: var(--color-light-black);
}

/* ------------------best-seller */
.best-tab-wrap {
  position: relative;
  margin: auto;
  height: 420px;
  overflow: hidden;
}

.best-tab-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-tab-btn > button {
  font-family: 'Raleway';
  margin:10px;
  color: var(--color-dark-black);
}

.tab-menu-list {
  width: 2200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 1.8%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-white);
}

.tab-menu-list > li {
  width: 350px;
  height: 100%;
  text-align: center;
  background: var(--color-white);
}

.tab-menu-list > li > a > img {
  width: 100%;
}

.tab-menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width:100%;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}

.tab-menu-btn > button > i {
  font-size: 50px;
  color: var(--color-light-black);
}
.best-seller-btn {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

.best-seller-btn::before,
.best-seller-btn::after {
  content: '';
  display: block;
  flex-grow: 1;
  background: rgba(0,0,0,0.2);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0 10px;

}

.best-seller-desc > p {
  margin-top: 20px;
  font-size: var(--font-small);
  font-weight: var(--font-thin);
}

.best-seller-desc > h4 {
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

.best-seller-desc > h4 >span {
  font-size: var(--font-regular);
  font-weight: var(--weight-heavy);
}

/* ----------------------full screen wide slide */
.slide-dim-wrap{
  width: 100%;
  height: 510px;
  position: absolute;
  z-index: 5;
  display: flex;
}

.slide-dim-left, .slide-dim-right {
  width: 600px;
  background-color: rgba(0,0,0,0.6);
}

.slide-dim-center {
  min-width: 1200px;
}

.slick-dots {
  display: flex;
  width: 100%;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.slick-dots > li > button {
 color: transparent;
}

.slick-dots >li {
  width: 10px;
  height: 10px;
  background: var(--color-dark-white);
  margin: 0 8px;
  border-radius: 50%;
  color: transparent;
}

.slick-dots >li.slick-active {
width: 24px;
height: 8px;
border-radius: 26px;
background-color: var(--color-black);
}

button.slick-arrow {
  display: none;
}

.slide-dim {
  float: left;
}

.slide-dim-center {
  min-width: 1200px;
  width: 1200px;
}

.new-full-container::before {
  content: '';
  display: block;
  background: rgba(0,0,0,0.6);
  position: absolute;
  left: -830px;
}

.new-full-container::after {
  content: '';
  display: block;
  background: rgba(0,0,0,0.6);
  position: absolute;
  right: -830px;
}

/* ----------------------promotion banner */

.promo-banner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-banner {
  text-align: center;
  width: 25%;
}

.promo-banner > a > p {
  color: var(--color-dark-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-extrabold);
  margin: 10px 0;
}

.promo-banner > a > span {
  color: var(--color-gray);
  font-size: var(--font-extrasmall);
  font-weight: var(--weight-light);
  text-align: center;
}
.promo__imgbox {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}
.promo__imgbox:last-child {
  margin-right: 0;
}

.imgbox, .imgbox >img {
  width: 100%;
  height: 100%;
}

.promo___description {
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.promo__imgbox:hover .promo___description {
  opacity: 1;
  transform: translateY(0px);
}

.promo___description > h6 {
  color: var(--color-light-orange);
  font-size: var(--font-medium);
}
.promo___description > hr {
  width: 12%;
  color: var(--color-dark-white);
  margin-bottom: 10px;
}
.promo___description > span {
  color: var(--color-dark-white);
  font-size: var(--font-extrasmall);
  font-weight: var(--weight-thin);
}

/* ----------------- hash tag event */
.insta-pics-wrap {
  width: 100%;
  height: fit-content;
  margin-top: 24px;
  margin-bottom: 180px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
}

.hashtag-desc {
  width: 100%;
  text-align: center;
}

.hashtag-desc > span {
  font-family: 'Raleway';
  letter-spacing: 0.7em;
  font-size: var(--font-extrasmall);
  font-weight: var(--font-thin);
  color: var(--color-light-black);
}

.hashtag-desc > h6 {
  font-family: 'Raleway';
  font-size: var(--font-title);
  font-weight: var(--weight-extrabold);
  margin: 8px auto;
}

.hashtag-desc > p {
  font-size: var(--font-small);
  font-weight: var(--font-thin);
  color: var(--color-light-black);
}

.instagram-form {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 350px;
  font-size: var(--font-extrasmall);
  font-weight: var(--font-regular);
  padding: 8px 0;
  border: 1px solid var(--color-light-white);
}

.instacont_img {
  width: 100%;
  height: 360px;
  margin-bottom: 8px;
  background: url("../imgs/insta-mac-lover.jpg") center/cover no-repeat;
}
div.insga_thumb{
  object-fit: contain;
  transition: all 1000ms;
}
.insga_thumb:hover {
  background-position-x: -10px;
  cursor: pointer;
}

.insga_thumb1 {
  grid-column: 5/6;
  grid-row: 2/3;
  background: url("../imgs/insta1.png") center/cover no-repeat;
}

.insga_thumb2 {
  grid-column: 3/4;
  grid-row: 1/2;
  background: url("../imgs/insta2.png") center/cover no-repeat;
}

.insga_thumb3 {
  grid-column: 4/5;
  grid-row: 1/2;
  background: url("../imgs/insta3.png") center/cover no-repeat;
}

.insga_thumb4 {
  grid-column: 5/6;
  grid-row: 1/2;
  background: url("../imgs/insta4.png") center/cover no-repeat;
}

.insga_thumb5 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: url("../imgs/insta5.png") center/cover no-repeat;
}

.insga_thumb6 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: url("../imgs/insta6.png") center/cover no-repeat;
}

.insga_thumb7 {
  grid-column: 4/5;
  grid-row: 2/3;
  background: url("../imgs/insta7.png") center/cover no-repeat;
}

.insga_thumb8 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: url("../imgs/insta8.png") center/cover no-repeat;
}

.instagram-form > p:nth-child(1) {
  margin: 10px 0;
}

.insta__like {
  font-weight: var(--font-extrabold);
  padding: 0 8px;
}
.insta__like > i {
  font-size: var(--font-regular);
}
.insta__comment {
  font-weight: var(--font-extrabold);
  padding: 0 5px;
}
.insta__comment > span {
  font-weight: var(--weight-extrabold);
  font-size: var(--font-extrasmall);
}
.insta__avatar {
  display: flex; 
  align-items: center; 
  padding: 8px;
}

.hashtag {
  color: var(--color-hashtag);
  padding: 0 8px;
}

/* ---------------------------------foooter */
footer {
  width: 100%;
  background: var(--color-dark-black);
}

.event-banner-wrap {
  width: 100%;
  background-color: var(--color-black);
}
.event__banner a {
  color: var(--color-dark-white);
  line-height: 50px;
}

.event__banner {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__banner h6 {
  text-align: left;
}

.event__banner h6 >a {
  font-size: var(--font-extrasmall);
}

.sns {
  display: flex;
  width: 10%;
}

.sns >li {
  margin: 0 5px;
}

.cs__service{
  margin: 50px auto;
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tel {width: 48%; margin: 0 auto;}
.cs__menu > ul {
  width: 20%;
}

.tel > p, .cs__menu > ul  {
  color: var(--color-dark-white);
  font-weight: var(--weight-bold);
  text-align: left;
}

.tel > address {
  margin-top: 20px;
  font-style:normal;
}

.tel > address > a:nth-child(1) {
  font-size: var(--font-medium);
  color: var(--color-light-white);
  font-weight: var(--weight-extrabold);
}

.tel > address > a:last-child {
  font-size: var(--font-micro);
  color: var(--color-dark-white);
}

.cs__service {
  width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;

}

.cs__menu {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.cs__menu ul > a {
  font-size: var(--font-micro);
  color: var(--color-light-white);
}

.cs__menu > ul > li:first-child {
  margin-top: 10px;
}

.cs__menu > ul > li > a{
  font-size: var(--font-micro);
}

.about__company {
  padding: 20px;
}

.about__company > p {
  
  font-size: var(--font-micro);
  color: #454545;
  letter-spacing: 1px;
}


/* Scroll arrow up button */
.arrow-up {
  position: fixed;
  z-index: 50;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 40px;
  background: #000000;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}
.arrow-up i {
  color:var(--color-white);
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
