@media screen and (max-width:768px) {

.hashtag-wrap {margin-top: 100px;}
.insta-pics-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 16px;
}

.insta-pics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.insta-pics > a img {
  width: 100%;
}

}
