.just-in {
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}

.title {
    margin: 60px auto;
}

h2, p {
    width: 100%;
    text-align: center;
}

.new-coll-items {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 28%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    transition:all 1.5s;
}

p.just-in-title {
    font-size: var(--font-large);
    font-weight:var(--weight-bold);
    margin: 10px 0;
    text-align: left;
}

.just-in-title {
    font-size: var(--font-extrasmall);
    font-weight:var(--weight-light);
    margin-bottom: 10px;
}
.new-coll-items > li{
    position: relative;
}
.new-coll-items > li > a {
    backface-visibility: hidden;
}
.new-coll-items > li > a > img {
    width: 100%;
}

.just-in-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: var(--color-dark-white);
    padding: 30px;
}

.just-in-hover > i {
    width: 100%;
    text-align: right;
    font-size: var(--font-large);
}
.just-in-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.just-in-button a {
    display: block;
    margin: 18px 0;
    padding: 10px 26px;
    width: 80%;
    border: 1px solid var(--color-gray);
    border-radius: var(--size-border-raidus);
    background-color: rgba(100, 100, 100, 0.1);
    text-align: center;
    color: var(--color-dark-white);
    cursor: pointer;
}

.new-coll-items li:hover a {
    transform:rotateY(180deg);
}

.new-coll-items li:hover .just-in-hover {
    display: block;
    transform:rotateY(0deg);
}

.new-coll-items li:hover .just-in-button{
    transform:rotateY(180deg);
}

@media  screen and (max-width:1198px) {
    .just-in {
        margin: 100px 0;
    }
        
    h2, p {
        width: 100%;
        text-align: center;
    }
    
    
    p.just-in-title {
        font-size: var(--font-medium);
    }
    
    .just-in-title {
        font-size: var(--font-micro);
        font-weight:var(--weight-thin);
        margin-bottom: 10px;
    }
    
    .new-coll-items > li{
        position: relative;
    }
    .new-coll-items > li > a {
        backface-visibility: hidden;
    }
    .new-coll-items > li > a > img {
        width: 100%;
    }
    
    .just-in-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        color: var(--color-dark-white);
        padding: 30px;
    }
    
    .just-in-hover > i {
        width: 100%;
        text-align: right;
        font-size: var(--font-medium);
    }

    .just-in-button a {
        display: block;
        margin: 10px 0;
        padding: 8px 24px;
    }

}

@media  screen and (max-width:768px) {
    .just-in {
        margin: 80px 0;
    }
    .new-coll-items {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        transition:all 1.5s;
    }

}